<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login and Registration</title>
  </head>
  <body>
    {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    <h1>Welcome!</h1>
    <h2>Registration</h2>
    <form action="/registration" method="post">
      {% csrf_token %}
      First name:
      <input type="text" name="first_name"><br>
      Last name:
      <input type="text" name="last_name"><br>
      Email:
      <input type="text" name="email"><br>
      Password:
      <input type="password" name="password_create"><br>
      Confirm pw:
      <input type="password" name="pw_confirm"><br>
      Birthday:
      <input type="date" name="bday"><br>
      <input type="submit" value="Register">
    </form>
    <h2>Login</h2>
    <form action="/login" method="post">
      {% csrf_token %}
      Email:
      <input type="text" name="user_email"><br>
      Password:
      <input type="password" name="password"><br>
      <input type="submit" value="Login">
    </form>
  </body>
</html>
